<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:if="${board == null}">게시판: 전체 게시글</title>
  <title th:unless="${board == null}">게시판: [[${board.board}]]</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>



<body class="p-3">
<!-- 기능 목록 -->
<div class="container-fluid bg-secondary text-white py-3">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <!-- 메인 기능 링크 : 중앙 -->
      <div class="ms-auto me-auto">
        <a th:href="@{'/attendance/' + ${accountId} + '/' + ${shopId}}" class="btn btn-light mx-5">출퇴근 기록</a>
        <a th:href="@{'/schedule/' + ${shopId}}" class="btn btn-light mx-5">월별 근무표</a>
        <a th:href="@{'/' + ${shopId} + '/community'}" class="btn btn-light mx-5">커뮤니티</a>
      </div>
      <!-- 프로필, 로그아웃 링크 : 우측 -->
      <div>
        <a th:href="@{'/my-profile'}" class="btn btn-outline-light me-2">프로필</a>
        <a th:href="@{'/account/logout'}" class="btn btn-outline-light">로그아웃</a>
      </div>
    </div>
  </div>
</div>
<hr>
<!-- 게시판 목록 -->
<div class="d-flex justify-content-center mt-3 fs-6">
  <a th:href="@{'/' + ${shopId} + '/community'}" class="btn btn-primary me-3">전체 게시글</a>
  <div th:each="boardItem : ${boards}">
    <a th:href="@{'/' + ${shopId} + '/community/' + ${boardItem.name()}}" th:text="${boardItem.board}"
       class=" btn btn-info me-3"></a>
  </div>
</div>
<hr>
<div class="container mt-3 mb-5">
  <div class="d-flex align-items-center justify-content-between">
    <!-- 게시판 이름  -->
    <div>
      <h1 class="me-3" th:if="${board == null}">전체 게시글</h1>
      <h1 class="me-3" th:unless="${board == null}" th:text="${board.board}">게시판 이름</h1>
    </div>

    <!-- 홈으로 가기 버튼 -->
    <div>
      <a th:href="@{'/' + ${shopId} + '/community'}" class="btn btn-secondary">홈으로 가기</a>
    </div>
  </div>
  <hr>
  <!-- 게시글 제목 안내 -->
  <div class="d-flex justify-content-between align-items-center">
    <h1 th:text="${article.title}"></h1>
    <div>
      <span th:text="${article.accountName}"></span>
      <span th:text="${#temporals.format(article.articleWriteTime, 'yyyy-MM-dd HH:mm')}"></span>
    </div>
  </div>
  <hr>

  <!-- 게시글 내용 -->
  <p th:utext="${article.content}"></p>

  <!-- 수정하기 폼 제출 -->
  <div class="d-flex justify-content-end align-items-center mt-3 mb-3">
    <a th:href="@{'/' + ${shopId} + '/community/' + ${article.board.name()} + '/' + ${article.shopArticleId} + '/edit'}"
       class="btn btn-primary me-3">글 수정</a>
    <!-- 삭제하기 폼 제출 -->
    <form th:action="@{'/' + ${shopId} + '/community/' + ${article.board.name()} + '/' + ${article.shopArticleId} + '/delete'}"
          method="post">
      <input type="submit" class="btn btn-danger" value="글 삭제">
    </form>
  </div>
  <hr>

  <!-- 댓글 달기 폼 제출 -->
  <h5 class="mt-5">댓글 달기</h5>
  <form th:action="@{'/' + ${shopId} + '/community/' + ${board} + '/' + ${shopArticleId} + '/comment'}" method="post">
    <div class="row">
      <!-- 댓글 작성 창 -->
      <div class="col">
        <textarea name="content" id="content-area" class="form-control" placeholder="댓글을 입력하세요"></textarea>
      </div>
      <!-- 댓글 작성 버튼 -->
      <div class="col-auto">
        <input type="submit" class="btn btn-primary" value="작성">
      </div>
    </div>
  </form>
  <hr>

  <!-- 댓글 리스트 : 댓글 없을 때 -->
  <div th:if="${article.comments.isEmpty()}">
    <h7>댓글이 없습니다.</h7>
  </div>
  <!-- 댓글 리스트 : 댓글 있을 때 -->
  <div th:unless="${article.comments.isEmpty()}" th:each="comment: ${article.comments}">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <!-- 유저 이름 -->
        <span th:classappend="${comment.commentAuthority == 'ROLE_ADMIN' ? 'badge bg-danger' :
                            comment.commentAuthority == 'ROLE_BUSINESS_USER' ? 'badge bg-warning' :
                            'badge bg-success'}"
              th:text="${comment.commentAuthority == 'ROLE_ADMIN' ? '관리자' :
                     comment.commentAuthority == 'ROLE_BUSINESS_USER' ? '매니저' :
                     '직원'}"></span>
        <span class="me-3" th:text="${comment.accountName}"></span>
        <!-- 작성 시간 -->
        <span th:text="${#temporals.format(comment.commentWriteTime, 'yyyy-MM-dd HH:mm')}"></span>
      </div>
      <!-- 댓글 삭제 폼 제출 -->
      <form class="d-flex align-items-center justify-content-end"
            th:action="@{'/' + ${shopId} + '/community/' + ${board} + '/' + ${shopArticleId} + '/comment/' + ${comment.id} + '/delete'}"
            method="post">
        <!-- 댓글 삭제 버튼 -->
        <input type="submit" class="btn btn-danger" value="댓글 삭제">
      </form>
    </div>
    <!-- 댓글 내용 -->
    <p th:text="${comment.content}"></p>
    <hr>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMneT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>