ncp:
  api:
    client-id: re2p8027kc
    client-secret: QZ0gf3e6IqurEFZ6oaqmnBeJ1Wrpz53Bi0h0E4KM

    api-access: bayBaYR8dcwmMeO2XLqE
    api-secret: ilCwHf4BYfA2yr0u0LgpqpZMaNF5oH5tdXwBmNcS

jwt:
  secret: aaaabbbsdifqbvaesoioegwaaaabbbsdifqbvaesoioegwaaaabbbsdifqbvaes

spring:
  mail:
    host: smtp.gmail.com
    port: 587
    username: likelion8thworkmate@gmail.com
    password: whrq anfu qdax aupa
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
    protocol: smtp

  security:
    oauth2:
      client:
        provider:
          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response

        registration:
          naver:
            client-id: DNQ5JTGwdG1r8NIma66c
            client-secret: p1aXVhtiEB
            redirect-uri: http://localhost:8080/login/oauth2/code/naver
            authorization-grant-type: authorization_code
            client-authentication-method: client_secret_post
            client-name: Naver
            scope:
              - email
              - name