<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .box-container {
            display: flex;
            justify-content: center;
        }

        .box {
            width: 400px;
            height: 80px;
            background-color: skyblue;
            color: black;
            text-align: center;
            line-height: 100px;
            cursor: pointer;
            border-radius: 10px;
        }
    </style>
</head>
<body>
<div class="box-container">
    <img src="/images/workmate-main.png" alt="work-mate" width="400" height="200">
</div>
<div class="box-container">
    <div class="box"><a href="/account/login">로그인</a></div>
</div>

<br>
<div class="box-container">
    <div class="box"><a href="/account/register">회원가입</a></div>
</div>

</body>
</html>