<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>
<main class="flex-shrink-0">
    <section class="py-5">
        <div class="container px-5">
            <!-- login form-->
            <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6">
                        <h1 class="text-center mb-5">로그인</h1>
                        <form action="/account/login" method="POST">
                            <div class="form-floating mb-3">
                                <input class="form-control" id="username" name="username" type="text" placeholder="Enter your username...">
                                <label for="username">ID</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input class="form-control" id="password" name="password" type="password" placeholder="Enter your password...">
                                <label for="password">Password</label>
                            </div>
                            <div class="d-grid"><button class="btn btn-primary btn-lg" id="sign-in-button" type="submit">Submit</button></div>
                            <div style="margin-top: 16px; text-align: right">
                                <a href="/oauth2/authorization/naver">
                                    <img src="/images/btnG_완성형.png" alt="" width="125" height="35">
                                </a>
<!--                                <a href="/oauth2/authorization/kakao">카카오</a>-->
                                <br>
                                <a href="/account/users-register">일반 회원가입</a>
                                <a href="/account/business-register">사업자 회원가입</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
<script>
    $(document).ready(function() {
        $('form').submit(function(event) {
            // 기본 폼 제출 이벤트 방지
            event.preventDefault();

            // 폼 데이터를 JSON 객체로 변환
            const formData = {
                username: $('input[name="username"]').val(),
                password: $('input[name="password"]').val()
            };

            // AJAX 요청
            $.ajax({
                type: "POST",
                url: "/account/login",
                contentType: "application/json",

                data: JSON.stringify(formData),
                success: function(data) {
                    // 로그인 성공 시 로직 (예: 페이지 리다이렉트)
                    const token = data.token;

                    // 토큰 값이 정상적으로 반환되었는지 확인
                    if (token) {
                        // jwt 토큰을 프론트에서 저장함
                        localStorage.setItem("jwtToken", token);
                        console.log("로그인 성공", token);
                        window.location.href = "/my-profile";

                    } else {
                        alert("아이디나 비밀번호가 일치하지 않습니다.");
                        console.log("토큰이 반환되지 않았습니다.");
                        // 토큰 값이 없는 경우에 대한 처리 로직을 추가할 수 있습니다.
                    }
                },
                error: function(xhr, status, error) {
                    // 로그인 실패 시 로직
                    console.log("로그인 실패", xhr.responseText);
                    alert("아이디나 비밀번호가 일치하지 않습니다.")
                }
            });
        });
    });
</script>
</html>