<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>
<body>
<h1>마이페이지</h1>
<a href="/my-profile/update">프로필 수정하기</a>
<hr>
<div id="profile">
    <!-- 프로필 정보가 여기에 표시됩니다 -->
</div>
<a href="/email-check">이메일 확인하기</a>
<hr>
<a href="/shop">출근 중인 매장 추가하기</a>
<div id="account-shop">
    <!-- 아르바이트 매장 정보가 여기에 표시됩니다 -->
</div>
<hr>
<a href="/account/logout">로그아웃</a>
<script>
    $(document).ready(function () {
        // 로그인 페이지에서 저장한 토큰을 가져옴
        const token = localStorage.getItem("jwtToken");
        const headers = {};

        // 토큰이 있으면 헤더에 추가
        if (token) {
            headers["Authorization"] = "Bearer " + token; // 토큰을 Authorization 헤더에 담아 전달
        }

        // 서버에 토큰을 전달하여 프로필 정보 요청
        $.ajax({
            type: "GET",
            url: `/profile`,
            headers: headers,
            contentType: "application/json",
            success: function (account) {
                console.log(token);
                console.log(account);

                const accountId = account.id;
                console.log(accountId)

                $('#profile').html(`
                    <h2>${account.name}님 반갑습니다.</h2>
                    <p>ID: ${account.username}</p>
                    <p>Email: ${account.email}</p>`
                );

                function getAccountShop(accountId) {
                    return $.ajax({
                        url: `profile/${accountId}/account-shop`,
                        method: 'GET',
                        headers: headers
                    });
                }

                function getShopName(accountId) {
                    return $.ajax({
                        url: `profile/${accountId}/account-shop/shop-name`,
                        method: 'GET',
                        headers: headers
                    });
                }

                function getAccountStatus(accountId) {
                    return $.ajax({
                        url: `profile/${accountId}/account-shop/account-status`,
                        method: 'GET',
                        headers: headers
                    });
                }

                function updatePage() {
                    $.when(getAccountShop(accountId), getShopName(accountId), getAccountStatus(accountId)).done(function (accountShopData, shopNameData, accountStatusData) {
                        const accountShop = accountShopData[0];
                        const shopNames = shopNameData[0];
                        const accountStatus = accountStatusData[0];

                        console.log(shopNames);

                        // SUBMITTED 상태인 shop id 리스트 만들기
                        const submittedShopIds = [];
                        for (let i = 0; i < accountShop.length; i++) {
                            if (accountShop[i].status === "ACCEPT") {
                                submittedShopIds.push(accountShop[i].shopId);
                            }
                        }

                        // 만들어진 id 리스트
                        console.log("Submitted Account IDs:", submittedShopIds);

                        // HTML 업데이트
                        const accountShopDiv = $(`#account-shop`);

                        submittedShopIds.forEach((shopId, index) => {
                            const shopName = shopNames[index];
                            const attendanceLink = `attendance/${accountId}/${shopId}`;
                            const communityLink = `${shopId}/community`;
                            const listItem = `<li><a href="${attendanceLink}">${shopName}</a> | <a href="${communityLink}">${shopName} 커뮤니티</a></li>`;
                            accountShopDiv.append(`<p>${listItem}</p>`);
                        });
                    }).fail(function (error) {
                        console.error('Error:', error);
                    });
                }
                updatePage();
            },
            error: function (xhr, status, error) {
                console.error("프로필 정보를 가져오는 중 오류가 발생했습니다: " + error);
            }
        });
    });
</script>
</body>
</html>