<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>
<body>
<h1>마이페이지</h1>
<div id="profile">
    <!-- 프로필 정보가 여기에 표시됩니다 -->
</div>
<a href="/account/logout">로그아웃</a>

<script>
    $(document).ready(function () {
        // 로그인 페이지에서 저장한 토큰을 가져옴
        const token = localStorage.getItem("jwtToken");
        const headers = {};

        // 토큰이 있으면 헤더에 추가
        if (token) {
            headers["Authorization"] = "Bearer " + token; // 토큰을 Authorization 헤더에 담아 전달
        }

        // 서버에 토큰을 전달하여 프로필 정보 요청
        $.ajax({
            type: "GET",
            url: "/profile",
            headers: headers,
            contentType: "application/json",
            success: function (account) {
                console.log(token);

                let shopPromises = [];

                // 각 accountShop의 id를 이용하여 실제 Shop 데이터를 불러오는 Promise를 생성하여 배열에 추가
                account.accountShopsId.forEach(id => {
                    let promise = $.ajax({
                        type: "GET",
                        url: `/shop/${id}`, // 해당 URL은 각 Shop의 정보를 반환하는 API 엔드포인트여야 합니다.
                        headers: headers,
                        contentType: "application/json"
                    });
                    shopPromises.push(promise);
                });

                // 모든 Promise를 병렬로 실행하고, 모든 Shop 데이터를 가져온 후에 아래의 코드를 실행
                Promise.all(shopPromises)
                    .then(shops => {
                        let shopList = shops.map(shop => `<li>${shop.name}</li>`).join('');

                        // 비어있는 경우
                        if (shopList === '') {
                            shopList = '<p>아르바이트 중인 매장이 없습니다.</p>';
                        }

                        $('#profile').html(`
                        <h2>${account.name}</h2>
                        <p>ID: ${account.username}</p>
                        <p>Email: ${account.email}</p>
                        <p>아르바이트</p>
                        <ul>
                            ${shopList}
                        </ul>
                    `);
                    })
                    .catch(error => {
                        console.error("프로필 정보를 가져오는 중 오류가 발생했습니다: " + error);
                    });
            },
            error: function (xhr, status, error) {
                console.error("프로필 정보를 가져오는 중 오류가 발생했습니다: " + error);
            }
        });
    });
</script>
</body>
</html>