<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <style>
        table, th, td, day {
            border: 1px solid black;
            border-collapse: collapse;
            text-align: center;
            width : 100px;
            height: 20px;
        }
        th, td {
            padding: 20px;
        }
        th {
            text-align: center;
        }
        .day{
            height: 20px;
        }
        .worker{
            height: 100px
        }
    </style>
</head>
<body>

<h1>근무표</h1>

<table style="width:70%; margin-left: 15%; margin-right: 15%; margin-top: 10%">
    <caption style="font-size: 30px; padding-bottom: 30px">가게의 근무표</caption>

    <tr>
        <th style = "background : #ff5464; color : aliceblue;">일</th>
        <th class="day">월</th>
        <th class="day">화</th>
        <th class="day", th:text="${schedules.size()}">수</th>
        <th class="day">목</th>
        <th class="day">금</th>
        <th class="day" style = "background : cornflowerblue; color : aliceblue;">토</th>
    </tr>
    <tr th:each=" weeks : ${#numbers.sequence(0,calender.size() / 7 - 1)}">
        <td th:each=" days : ${#numbers.sequence(0,6)}">
            <th:block th:each="schedule : ${schedules}">
                <th:block th:with ="day = ${days} + ${weeks} * 7">
                       <p th:text="${schedule.name} + ' : ' + ${schedule.workStartTime}"
                          th:if="${#temporals.day(schedule.workStartTime)} == ${calender[day]}"></p>
                       <p th:text="${calender[day]}"
                          th:unless="${#temporals.day(schedule.workStartTime)} == ${calender[day]}"></p>
                </th:block>
            </th:block>
        </td>
    </tr>
</table>
</body>
</html>


