<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop Create</title>
</head>
<body>
<h1>매장을 등록하세요.</h1>
<div id="create-shop">
    <label>
        매장 이름:
        <input type="text" id="shop-name" placeholder="매장 이름을 입력하세요.">
    </label>
    <br>
    <label>
        매장 주소:
        <input type="text" id="shop-address" placeholder="매장 주소를 입력하세요.">
    </label>
    <button id="submit-btn">매장 생성</button>
</div>
<hr>
<a href="/shop">Back</a>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        const token = localStorage.getItem("jwtToken");
        const headers = {};

        if (token) {
            headers["Authorization"] = "Bearer " + token; // 토큰을 Authorization 헤더에 담아 전달
        }

        console.log(token)

        $("#submit-btn").click(function() {
            const shopName = $("#shop-name").val();
            const shopAddress = $("#shop-address").val();

            const requestData = {
                name: shopName,
                address: shopAddress
            };

            $.ajax({
                type: "POST",
                url: "/api/shop/create", // 클라이언트에서는 이 경로를 사용해야 함
                headers: headers,
                contentType: "application/json",
                data: JSON.stringify(requestData),
                success: function (shop) {
                    console.log("매장이 성공적으로 생성되었습니다:", shop);
                    // 생성된 매장 정보를 처리하거나 표시하는 작업을 수행할 수 있습니다.
                    alert("매장이 등록되었습니다.")
                    location.href="/shop";
                },
                error: function (xhr, status, error) {
                    if (xhr.status === 403) {
                        alert("권한이 없습니다.")
                    } else if (xhr.status === 400) {
                        alert("이미 존재하는 매장입니다.")
                    }
                    console.error("매장 생성 중 오류 발생:", error);
                }
            });
        });
    });
</script>
</body>
</html>