<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <title>매장 정보</title>
</head>
<body>
<a href="/my-profile">Main</a>
<hr>
<h2>[[${shop.name}]]</h2>
<hr>
<a th:href="@{/shop/{id}/shop-account(id=${shop.id})}">출근 멤버 명단 확인하기</a>
<hr>
<h4>주소</h4>
<h5>[[${shop.address}]]</h5>

<hr>
<a href="/shop">Back</a>
</body>
<script>
    $(document).ready(function (){
        const token = localStorage.getItem("jwtToken");
        const headers = {};

        // 토큰이 있으면 헤더에 추가
        if (token) {
            headers["Authorization"] = "Bearer " + token; // 토큰을 Authorization 헤더에 담아 전달
        }

        console.log(token);
    })
</script>
</html>