<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop List</title>
</head>
<body>
<h1>아르바이트 가능 매장</h1>

<!-- 아르바이트 가능 매장이 없는 경우 -->
<div th:if="${shops.isEmpty()}">
    <p>아르바이트 가능한 매장이 없습니다.</p>
</div>

<!-- 매장이 있는 경우 -->
<div id="shops" th:unless="${shops.isEmpty()}" th:each="shop : ${shops}">
    <a th:href="@{/shop/{id}(id=${shop.id})}"><h5 th:text="${shop.name}"></h5></a>
</div>

<!--<script>
    $(document).ready(function (){
        // 로그인 페이지에서 저장한 토큰을 가져옴
        const token = localStorage.getItem("jwtToken");
        const headers = {};

        // 토큰이 있으면 헤더에 추가
        if (token) {
            headers["Authorization"] = "Bearer " + token; // 토큰을 Authorization 헤더에 담아 전달
        }

        $.ajax({
            type:"GET",
            url:"/"
        })
    })
</script>-->

</body>
</html>